@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.title {
  font-weight: 600 !important;
  text-align: left !important;
  letter-spacing: "1px";
  color: "#021c51" !important;
}

.dark-blue-cell {
  color: "#021c51" !important;
}
