body {
  background-color: #f1efec;
  height: 100vh;
  /* user-select: none; */
}

.MuiDataGrid-cell:focus {
  outline: none;
}
.css-1peeo22-MuiFormLabel-root-MuiInputLabel-root,
.css-ximjwn-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  top: -6px !important;
}

.main {
  color: rgb(70, 99, 172);
}
* {
  font-family: "Poppins", sans-serif;
}

.dark-blue-cell {
  color: #021c51 !important;
  color: green !important;
  font-weight: 700;
}
